<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h2>Register</h2>

<form th:action="@{/user}" th:object="${user}" method="post">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" th:field="*{password}" />
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <button type="submit">Submit</button>
</form>

</body>
</html>